.tasksListOptions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

@media(max-width:787px){
    .tasksListOptions{
        grid-template-columns: 1fr;
    }
}

.taskListOptions__button{
    background: transparent;
    border: none;
    color: hsl(180, 100%, 35%);
    font-weight: 300;
    transition: color .3s;
}

.taskListOptions__button--visible{
    display: block;
}

.taskListOptions__button:hover{
    color: hsl(180, 100%, 45%);
    cursor: pointer;
}

.taskListOptions__button:disabled{
    color: grey;
    cursor: initial;
}